.bubble {
  display: flex;
  background-color: gray;
  border: 1px solid darkgray;
  padding: 5px 20px;
  max-width: 200px;
  border-radius: 10px;

  &.own {
    background-color: green;
    border: 1px solid darkseagreen;
    align-self: flex-end;
  }

  &.deleted {
    font-size: 0.5rem;
    color: #999;
    background-color: #111;
  }

  &.thinking {
    color: darkgray;
  }

  &.faded {
    opacity: 0.1;
  }
}
